# MTK project .rc configure
import /vendor/odm/etc/${ro.boot.product.hardware.sku}/vendor.nxp.hardware.nfc@2.0-service.rc
import /vendor/odm/etc/${ro.boot.product.hardware.sku}/android.hardware.nfc@1.0-service.rc
import /vendor/odm/etc/${ro.boot.product.hardware.sku}/vendor.microtrust.hardware.se@1.0-service.rc

on init
    mkdir /mnt/media_rw/usbotg 0700 media_rw media_rw
    mkdir /storage/usbotg 0700 root root

on post-fs-data
mkdir /data/vendor/nfc 0770 nfc nfc
mkdir /data/vendor/secure_element 0770 nfc nfc

    chmod 0666 /sys/module/migt/parameters/mi_viptask
    restorecon /sys/module/migt/parameters/mi_viptask

#Camera
    chmod 0660 /dev/MAINAF
    chown system camera /dev/MAINAF

    chmod 0660 /dev/MAINAF2
    chown system camera /dev/MAINAF2

    chmod 0660 /dev/SUBAF
    chown system camera /dev/SUBAF

    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF

    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF

    chmod 0660 /dev/LC898212AF
    chown system camera /dev/LC898212AF

    chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF

#SMB
    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm

    chmod 0660 /dev/spm
    chown system system /dev/spm

#XIAOMI_AI_ASD
    mkdir /data/misc/camera 0777 system camera
    mkdir /data/vendor/camera 0777 system camera
    copy  /vendor/etc/camera/merlin_goldResult.bin /data/vendor/camera/merlin_goldResult.bin
    chown system system /data/vendor/camera/merlin_goldResult.bin
    chmod 0777 /data/vendor/camera/merlin_goldResult.bin
    chmod 0660 /dev/nq-nci
    chown nfc nfc /dev/nq-nci
    chmod 0660 /dev/p73
    chown nfc nfc /dev/p73
    mkdir /data/vendor/camera/model 0777 system camera
    mkdir /data/vendor/camera/model/rt_model 0777 system camera
    mkdir /data/vendor/camera/model/rt_model/mask 0777 system camera
    mkdir /data/vendor/camera/model/rt_model/score 0777 system camera
    mkdir /data/vendor/camera/model/bokeh_model 0777 system camera
    copy /vendor/etc/camera/model/rt_model/mask/cache_data /data/vendor/camera/model/rt_model/mask/cache_data
    chmod 0777 /data/vendor/camera/model/rt_model/mask/cache_data
    copy /vendor/etc/camera/model/rt_model/mask/model_mdl_cache /data/vendor/camera/model/rt_model/mask/model_mdl_cache
    chmod 0777 /data/vendor/camera/model/rt_model/mask/model_mdl_cache
    copy /vendor/etc/camera/model/rt_model/mask/segment_model /data/vendor/camera/model/rt_model/mask/segment_model
    chmod 0777 /data/vendor/camera/model/rt_model/mask/segment_model
    copy /vendor/etc/camera/model/rt_model/score/cache_data /data/vendor/camera/model/rt_model/score/cache_data
    chmod 0777 /data/vendor/camera/model/rt_model/score/cache_data
    copy /vendor/etc/camera/model/rt_model/score/model_mdl_cache /data/vendor/camera/model/rt_model/score/model_mdl_cache
    chmod 0777 /data/vendor/camera/model/rt_model/score/model_mdl_cache
    copy /vendor/etc/camera/model/rt_model/score/segment_model /data/vendor/camera/model/rt_model/score/segment_model
    chmod 0777 /data/vendor/camera/model/rt_model/score/segment_model
    copy /vendor/etc/camera/model/bokeh_model/cache_data /data/vendor/camera/model/bokeh_model/cache_data
    chmod 0777 /data/vendor/camera/model/bokeh_model/cache_data
    copy /vendor/etc/camera/model/bokeh_model/model_mdl_cache /data/vendor/camera/model/bokeh_model/model_mdl_cache
    chmod 0777 /data/vendor/camera/model/bokeh_model/model_mdl_cache
    copy /vendor/etc/camera/model/bokeh_model/segment_model /data/vendor/camera/model/bokeh_model/segment_model
    chmod 0777 /data/vendor/camera/model/bokeh_model/segment_model

#XIAOMI_WATERMARK
    mkdir /vendor/etc/camera 0777 system camera

#DUAL_CAM
    mkdir /mnt/vendor/persist/camera 0777 system camera
    chown system system /mnt/vendor/persist/camera/mi_calib_2k_output.bin
    chmod 0777 /mnt/vendor/persist/camera/mi_calib_2k_output.bin
    chown system system /mnt/vendor/persist/camera/rear_dc_cal_wd.bin
    chmod 0777 /mnt/vendor/persist/camera/rear_dc_cal_wd.bin

on init
    # Refer to http://source.android.com/devices/tech/storage/index.html
    # It said, "Starting in Android 4.4, multiple external storage devices are surfaced to developers through
    #           Context.getExternalFilesDirs(), Context.getExternalCacheDirs(), and Context.getObbDirs().
    #           External storage devices surfaced through these APIs must be a semi-permanent part of the device (such as an SD card slot in a battery compartment).
    #           Developers expect data stored in these locations to be available over long periods of time."
    # Therefore, if the target doesn't support sd hot-plugging (Ex: the SD card slot in a battery compartment), we need to export SECONDARY_STORAGE in 'boot' section
    #
    # export SECONDARY_STORAGE /storage/sdcard1

service fuse_usbotg /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbotg /storage/usbotg
    class late_start
    disabled

service mmc_ffu /vendor/bin/mmc_ffu do /vendor/bin/emmc.bin /dev/block/mmcblk0 15 03 00
	class main
	user root
	group system
	oneshot

service service_nv_protect /vendor/bin/misc_writer --nv_protect
    disabled
    oneshot

on property:vendor.service_nv_protect=start
    start service_nv_protect

on boot
    setprop vendor.debug.camera.enableMetaPending 0
    setprop vendor.debug.camera.enableMetaMerge 0

